body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
margin-left:20px;
width: 110px;
height: 80px;
}
.header_container{
  display: flex;
  justify-content:space-between;
}
.menu{
  padding:40px;
  font-size:1.2rem;
  font-weight: 600;
}
.menu span{
  padding-right: 70px;
}
.home{
  color: #712C90;
}
.body_container{
background: transparent url('./components//images//bg.svg') 0% 0% no-repeat padding-box;
height: 550px;
width: auto;
opacity: 1;
}
.body_box_content{
  width: 289px;
  height: 70px;
  font-size:1.2rem;
  font-weight: 600;
background-color: white;
border-radius: 10px;
color: #6C38AC;
box-shadow: 0px 20px 6px rgba(0, 0, 0, 0.1);
text-align: center;
}
.body_text{
  width: 500px;
  word-wrap: break-word;
}
.body_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 5px 0;
  padding-left: 300px;
}

.body_text:last-child {
  margin-bottom: 0;
}
.body_heading{
  font-size: 1.3rem;
  color: #fff;
  width: 400px;
  word-wrap: break-word;
}
.user{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-left: 80px;
}
.user_text span{
  color: #712C90;
  font-size: 1.5rem;
  font-weight: 700;
  left:200px;
}
.see_all{
  color: #6E6E6E;
  font-size:1.2rem ;
  font-weight: 600;
  cursor:pointer;
}
.small-card{
  border: 1px solid #ccc;
  border-radius: 30px;
  width: 200px;
  height: 250px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.profile-image{
  width: 120px;
}
.card{
  display: flex;
  justify-content: space-evenly;
}
.card_down{
  margin-top: 120px;
}
.service_container{
     
   margin-left: 80px;
}
.service_container h3{
   margin-top: 80px;
   font-size: 1.5rem;
   color: #712C90;
}
.service_img1{
  width: 550px;
  margin-right: 80px;
}
.service_img_container{
  margin-top: 90px;
  display: flex;
  justify-content: space-evenly;
}
.service_text p{
  width: 500px;
  word-wrap: break-word;
}
.custom_button {
  padding: 10px 20px;
  font-size: 12px;
  border: 2px solid #712C90; /* Border color */
  border-radius: 10px; /* Border radius */
  background-color: #712C90; /* Background color */
  color: #fff; /* Text color */
  cursor: pointer;
}
.read_more_button{
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #712C90; /* Border color */
  border-radius: 10px; /* Border radius */
  background-color: #712C90; /* Background color */
  color: #fff; /* Text color */
  cursor: pointer;
  margin-top: 20px;
}
.footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 80px;
  background-color: #F2F2F2;
}
.footer_text{
  display: flex;
  margin-top: 40px;

}
.footer_text h5{
  font-size: 1.2rem;
   margin:30px;
   margin-left: 280px;
   text-align: center;
   padding-right: 120px;
}
.userDetails{
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  align-items: center;
  justify-content: center;
}
.small-card {
  flex-basis: 25%;
  padding: 10px;
  box-sizing: border-box; 
  margin: 10px;
}